@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,700;1,500&display=swap');

#welcomeText {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
}

#navbar {
  z-index: 999;
}