@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#welcomeText {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

#navbar {
  z-index: 999;
}

#dateText {
  margin-top: 80px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}